RewriteEngine on
RewriteBase /
RewriteRule static/ - [L]
RewriteRule phpMyAdmin/ - [L]
RewriteRule phpPgAdmin/ - [L]
RewriteRule mrtg/ - [L]
RewriteRule phpMyAdmin2/ - [L]
RewriteRule .* index.php [L]
