# Cron Server
* * * * * root /srv/code/hisoku/cron/cron.php 1min
*/5 * * * * root /srv/code/hisoku/cron/cron.php 5min
2 6 * * * root /srv/code/hisoku/cron/cron.php 1day

# All Server
*/5 * * * * root /srv/code/hisoku/scripts/update-machine-status
